@import "tailwindcss";
@import "./css/keyframes.css";
@import "./css/drawer.css";
@plugin "tailwind-scrollbar-hide";
:root {
    --color-cerulean-blue-50: hsl(203, 100%, 96%);
    --color-cerulean-blue-100: hsl(206, 100%, 92%);
    --color-cerulean-blue-200: hsl(205, 100%, 86%);
    --color-cerulean-blue-300: hsl(203, 100%, 76%);
    --color-cerulean-blue-400: hsl(205, 100%, 65%);
    --color-cerulean-blue-500: hsl(210, 100%, 56%);
    --color-cerulean-blue-600: hsl(215, 100%, 52%);
    --color-cerulean-blue-700: hsl(218, 98%, 48%);
    --color-cerulean-blue-800: hsl(220, 90%, 40%);
    --color-cerulean-blue-900: hsl(219, 82%, 33%);
    --color-cerulean-blue-950: hsl(221, 72%, 21%);

    --color-glacier-50: hsl(197, 37%, 96%);
    --color-glacier-100: hsl(192, 31%, 90%);
    --color-glacier-200: hsl(196, 29%, 82%);
    --color-glacier-300: hsl(195, 29%, 65%);
    --color-glacier-400: hsl(196, 27%, 53%);
    --color-glacier-500: hsl(197, 30%, 43%);
    --color-glacier-600: hsl(200, 29%, 36%);
    --color-glacier-700: hsl(201, 27%, 31%);
    --color-glacier-800: hsl(202, 22%, 27%);
    --color-glacier-900: hsl(204, 21%, 24%);
    --color-glacier-950: hsl(203, 24%, 15%);

    --color-red-orange-50: hsl(4, 100%, 97%);
    --color-red-orange-100: hsl(6, 100%, 94%);
    --color-red-orange-200: hsl(5, 100%, 89%);
    --color-red-orange-300: hsl(5, 100%, 81%);
    --color-red-orange-400: hsl(5, 100%, 70%);
    --color-red-orange-500: hsl(5, 96%, 57%);
    --color-red-orange-600: hsl(5, 83%, 51%);
    --color-red-orange-700: hsl(5, 84%, 42%);
    --color-red-orange-800: hsl(5, 80%, 35%);
    --color-red-orange-900: hsl(5, 72%, 31%);
    --color-red-orange-950: hsl(4, 85%, 15%);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
}


/* style.css */
@theme inline {
/* 800, 300,  */


    --color-background: var(--color-glacier-50);
    --color-foreground: var(--color-glacier-950);
    --color-solid: var(--color-glacier-950);

    --color-muted: var(--color-glacier-200);
    --color-muted-foreground: var(--color-glacier-400);

    --color-popover: var(--color-glacier-200);
    --color-popover-foreground: var(--color-glacier-400);

    --color-border: var(--color-cerulean-blue-300);
    --color-input: var(--color-cerulean-blue-600);

    --color-card: var(--color-glacier-200);
    --color-card-foreground: var(--color-glacier-400);

    --color-primary: var(--color-cerulean-blue-800);
    --color-primary-foreground: var(--color-cerulean-blue-950);

    --color-secondary: var(--color-glacier-300);
    --color-secondary-foreground: var(--color-glacier-950);

    --color-accent: var(--color-red-orange-500);
    --color-accent-foreground: var(--color-red-orange-950);

    --color-destructive: 0 84.2% 60.2%;
    --color-destructive-foreground: 0 0% 98%;

    --color-info: 204 94% 94%;
    --color-info-foreground: 199 89% 48%;

    --color-success: 149 80% 90%;
    --color-success-foreground: 160 84% 39%;

    --color-warning: 48 96% 89%;
    --color-warning-foreground: 25 95% 53%;

    --color-error: 0 93% 94%;
    --color-error-foreground: 0 84% 60%;

    --color-ring: 240 5.9% 10%;

    --color-radius: 0.5rem;

    --color-corvu-text: var(--color-cerulean-blue-950);
    --color-corvu-bg: var(--color-white);
    --color-corvu-100: var(--color-cerulean-blue-50);
    --color-corvu-200: var(--color-cerulean-blue-200);
    --color-corvu-300: var(--color-cerulean-blue-300);
    --color-corvu-400: var(--color-cerulean-blue-400);
  }

  .dark,
  [data-kb-theme="dark"] {
    --color-background: 240 10% 3.9%;
    --color-foreground: 0 0% 98%;

    --color-muted: 240 3.7% 15.9%;
    --color-muted-foreground: 240 5% 64.9%;

    --color-accent: 240 3.7% 15.9%;
    --color-accent-foreground: 0 0% 98%;

    --color-popover: 240 10% 3.9%;
    --color-popover-foreground: 0 0% 98%;

    --color-border: 240 3.7% 15.9%;
    --color-input: 240 3.7% 15.9%;

    --color-card: 240 10% 3.9%;
    --color-card-foreground: 0 0% 98%;

    --color-primary: 0 0% 98%;
    --color-primary-foreground: 240 5.9% 10%;

    --color-secondary: 240 3.7% 15.9%;
    --color-secondary-foreground: 0 0% 98%;

    --color-destructive: 0 62.8% 30.6%;
    --color-destructive-foreground: 0 0% 98%;

    --color-info: 204 94% 94%;
    --color-info-foreground: 199 89% 48%;

    --color-success: 149 80% 90%;
    --color-success-foreground: 160 84% 39%;

    --color-warning: 48 96% 89%;
    --color-warning-foreground: 25 95% 53%;

    --color-error: 0 93% 94%;
    --color-error-foreground: 0 84% 60%;

    --color-ring: 240 4.9% 83.9%;

    --color-radius: 0.5rem;
  }


@layer {
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
                "rlig" 1,
                "calt" 1;
    }
}


@layer  {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 700px) {
  .container {
    @apply px-4;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-accent;
}

::-webkit-scrollbar-corner {
  display: none;
}
